.test{
    width: 100%;
    height: 120px;
    background-color: red;
}

.border
{
    border: 5px solid black;
}




.border1{
    width: 50%;
    height: 120px;
    background-color: blue;

}
.test1{
    bottom: 2px solid  greeen;
}


















